* {
  background-image: url(/img/ep_naturalwhite.png);
}

body {
  /* background-color: #f8f9fa; */
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}


#modal {
  background-color: rgba(0,0,0,0.3);
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

.container {
  position: relative;
}

.header {

  position: relative;
  text-align: center;
  color: black;
  width: 100%;
  height: auto;
}

.headerImg {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.tagline {
  position: absolute;
  top: 18px;
  left: 50px;
  color: black;
  font-size: 42px;
  transform: translate(-10%, -10%);
}

.modal-button{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
  color: lightblue;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.modal-button:hover {
  background-color: lightblue;
  cursor: pointer;
}

input {
  max-width: 100px;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid black 1px;
}

.ageSearch {
  max-width: 300px;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid black 1px;
}

.form input{
  /* display: block; */
  border: solid black 3px;
}

.searchBtn {
  width: auto;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid black;
}

.credits h1 {
  font-size: 15px;
}

.credits img{
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

/* DISPLAY PETS */
.petGridTitle {
  text-align: center;
}

.petGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  margin: 0 auto;
}

.petCard {
  width: 20vw;
  height: auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px 10px;
}

.petCard img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 5px auto;
}

.petCard h2 {
  margin: 0;
}

.petCard h4 {
  margin: 2px;
}

/* show page */
.show {
  display: none;
}

.showPage img {
  margin: 20px auto;
  border: solid black 2px;
  border-radius: 5px;
}

.showPage button {
  margin-bottom: 20px;
}

.infoBox {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 30%;
  margin: 20px auto;
}

.leftInfoBox {
  width: 50%;
  height: 100%;
}

.rightInfoBox {
  width: 50%;
  height: 100%;
}

/* PROFILE PAGE */
.profilePage{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 30px auto;
}

.leftProfilePage {
  width: 48%;
  height: 100%;
}

.rightProfilePage {
  width: 48%;
  height: 100%;
}

.profileImg {
  margin: 20px auto;
  width: 40%;
  height: auto;
}

/* FOOTER */
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* NAV BAR */
.navbar {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
}
