
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" ng-click="ctrl.changeInclude('home')">The Pet Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li ng-if="ctrl.currentUser" class="nav-item">
        <a class="nav-link disabled" href="#">Welcome, {{ctrl.currentUser.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="ctrl.changeInclude('about')">About <span class="sr-only">(current)</span></a>
      </li>
      <li ng-if="ctrl.currentUser" class="nav-item">
        <a ng-click="ctrl.changeInclude('profile')" class="nav-link" href="#">Profile</a>
      </li>
      <li ng-if="ctrl.currentUser" class="nav-item">
        <a ng-click="ctrl.logOut(); ctrl.changeInclude('home')" class="nav-link">Logout</a>
      </li>
      <li ng-if="!ctrl.currentUser" class="nav-item">
        <a ng-click="ctrl.changeInclude('signup')" class="nav-link">Signup</a>
      </li>
      <li ng-if="!ctrl.currentUser" class="nav-item">
        <a ng-click="ctrl.changeInclude('home'); ctrl.changeInclude('login')" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
