
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">The Pet Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" ng-click="ctrl.changeInclude('home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a ng-click="ctrl.changeInclude('profile')" class="nav-link" href="#">Profile</a>
      </li>
      <li ng-if="ctrl.currentUser" class="nav-item">
        <a class="nav-link disabled" href="#">Welcome, {{ctrl.currentUser}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" id="openModal">Login/Signup</a>
      </li>
    </ul>
  </div>
</nav>
