<div class="profilePage">
  <div class="leftProfilePage">
    <img class="profileImg" ng-src="{{ctrl.currentUser.image}}">
    <h3>{{ctrl.currentUser.username}} <button ng-click="ctrl.changeInclude('editprofile')">Edit</button></h3>
    <h5>{{ctrl.currentUser.firstName}} {{ctrl.currentUser.lastName}}</h5>
    <h5>{{ctrl.currentUser.location}}</h5>
  </div>
  <div class="rightProfilePage">
    <h2>My Saved Animals</h2>
    <div ng-repeat="pet in ctrl.myPets" class="petCard">
      <img ng-src="{{pet.media.photos.photo[0].$t}}" alt="{{pet.name.$t}}">
      <h2>{{pet.name.$t}}</h2>
      <h6>{{pet.breeds.breed.$t}}</h6>
      <h6>Age: {{pet.age.$t}}</h6>
      <h6>Size: {{pet.size.$t}}</h6>
      <h6>Gender: {{pet.sex.$t}}</h6>
    </div>
  </div>
</div>
